
.aboutUs {
    .aboutUs__title {
        font-size: 26px;
        color: #50555b;
        text-align: center;
        margin-bottom: 33px;
        @media(max-width:768px) {
            font-size: 18px;
        }
    }

    .aboutUs__imageDesc{
        display: flex;
        justify-content: space-between;
        margin-bottom: 45px;

        .aboutUs__imageDesc--text{
            font-size: 15px;
            color: #656565;
            padding-right: 67px;
            @media(max-width:992px) {
                padding-right: 0px;
            }
        }

        .aboutUs__imageDesc--img {
            @media(max-width:992px) {
                display: none;
            }
        }
    }

    .aboutUs__txtDesc{
        .aboutUs__txtDesc--item{
            color: #656565;
            font-size: 15px;
            margin-bottom: 15px;
        }
    }
}