
.contacts {
    margin-bottom: 412px;
    @media(max-width:768px) {
        margin-bottom: 50px;
    }

    .contacts__title{
        font-size: 26px;
        color: #50555b;
        margin-bottom: 35px;
        text-align: center;
        @media(max-width:768px) {
            font-size: 18px;
        }
    }

    .contacts__item{
        text-align: center;
        color: #656565;
        font-size: 15px;
        padding: 0px 170px;
        @media(max-width:768px) {
            padding: 0px; 
        }

        a{
            color: #656565;
            font-size: 15px;
        }
    }
}