
.featuredGames {
    .featuredGames__tab {
        margin-bottom: 10px;
        #featuredGames__tab--nav {
            display: flex;
            li {
                a {
                    padding: 13px 30px;
                    font-size: 12px;
                    font-weight: bold;
                    color: #a3a3a3;
                    text-transform: uppercase;
                    display: inline-block;
                    @media(max-width:768px) {
                        padding: 12px 10px;
                    }
                }
            }

            .active {
                a {
                    color: #50555b;
                    background-color: $white;
                    @media(max-width:768px) {
                        background-color: transparent;
                    }
                }
            }
        }

        .featuredGames__tab--item {
            padding: 25px 20px;
            background-color: $white;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.14); 
            .tab-item {
                font-size: 15px;
                color: #656565;
            }
        }
    }
}