// Global styles.

/*
    nested classes allowed only 2 levels.
    camel case class names.
*/

// js- { prefixed classes are javascript hooks }
// c- { prefixed classes are components }
// m- { prefixed classes are module }
// u- { prefixed classes are utility }
// g- { prefixed classes are global components }

body {
    width: 100%;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: normal;
    background-color: $bg-body;
}

.container {
    @media(max-width:768px) {
        padding: 0px 15px !important;
    }
}

ul,li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a, a:hover, a:focus {
    text-decoration: none;
}

p {
    margin: 0;
    padding:0;
}

input, textarea, button {
    border: none;
    &:focus {
        outline: none;
    }
}

.g-header {
    background-color: $white; 
    padding: 25px 0px 15px 0px;
    margin-bottom: 50px;
    @media(max-width:768px) {
        margin-bottom: 30px;
    }

    .header-cover {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .g-header__image {
            .g-header__image--desktop {
                @media(max-width:768px) {
                    display: none;
                }
            }
            
            .g-header__image--mobile {
                display: none;
                @media(max-width:768px) {
                    display: block;
                }
            }
        }

        .g-header__navList {
            @media(max-width:768px) {
                display: none;
            }
            ul {
                display: flex;
                align-items: center;

                li {
                    a {
                        font-size: 13px;
                        font-weight: bold;
                        color: #50555b;
                        margin-left: 40px;
                        text-transform: uppercase;
                        &:hover {
                            color: #1d5add;
                        }
                    }
                }
            }
        }

        .mobileMenu-button {
            display: none;
            @media(max-width:768px) {
                display: block;
            }
        }
    }
}

.g-footer {
    margin-top: 80px;
    @media(max-width:768px) {
        margin-top: 60px;
    }

    .footer-cover {
        padding: 13px 0px 20px 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: solid 1px #b1b1b1;
        @media(max-width:768px) {
            flex-direction: column-reverse;
        }

        .g-footer__image {
            @media(max-width:768px) {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .g-footer__image--desktop {
                @media(max-width:768px) {
                    display: none;
                }
            }

            .g-footer__image--mobile {
                display: none;
                @media(max-width:768px) {
                    display: block;
                }
            }

            p {
                margin-top: 17px;
                color: #b6b6b6;
                font-size: 12px;
                @media(max-width:768px) {
                    margin-top: 0px;
                    margin-left: 15px;
                }
            }
        }

        .g-footer__navList {
            display: flex;
            align-items: center;

            .g-footer__navList--item {
                margin-left: 100px;
                margin-top: 20px;
                @media(max-width:768px) {
                    margin: 20px 30px 20px 30px; 
                }
                @media(max-width:420px) {
                    margin: 20px 5px 20px 5px; 
                }

                ul {
                    li {
                        @media(max-width:768px) {
                            text-align: center;
                        }
                        a {
                            color: #b6b6b6;
                            font-size: 15px;
                            margin-bottom: 10px;
                            display: inline-block;
                            &:hover {
                                color: #1d5add;
                            }
                        }
                    }
                }
            }
        }
    }
}

.g-hotelList {
    padding-top: 20px;
    margin-bottom: 90px;

    .g-hotelList__item {
        display: flex;
        margin-bottom: 15px;
        background-color: $white;
        padding: 53px 30px 32px 30px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.14);
        @media(max-width:992px) {
            padding: 53px 5px 32px 5px;
        }
        @media(max-width:768px) {
            padding: 20px 20px;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }

        .item-logo {
            width: 16%;
            @media(max-width:768px) {
                width: 50%;
                margin-bottom: 30px;
                text-align: center;
                order: 1;
            }
        }

        .item-text {
            width: 30%;
            @media(max-width:768px) {
                width: 50%;
                margin-bottom: 30px;
                order: 3;
            }

            .item-text__title {
                color: rgba(0, 0, 0, 0.87);
                font-size: 10px;
                font-weight: 300;
                margin-bottom: 4px;
                text-transform: uppercase;
                text-align: center;
                @media(max-width:768px) {
                    font-size: 9px;
                }
            }

            .item-text__desc {
                color: rgba(101, 101, 101, 0.87);
                font-size: 17px;
                text-align: center;
                @media(max-width:768px) {
                    font-size: 14px;
                }
            }
        }

        .item-rating {
            width: 18%;
            text-align: center;
            @media(max-width:768px) {
                width: 50%;
                margin-bottom: 30px;
                order: 2;
            }

            .jq-star {
                margin: 0px 2px;
                @media(max-width:768px) {
                    width: 15px !important;
                    height: 15px !important;
                }
                .jq-star-svg {
                    padding: 0px 2px;
                }
            }

            .item-rating__title {
                color: rgba(0, 0, 0, 0.87);
                font-size: 10px;
                font-weight: 300;
                margin-bottom: 4px;
                text-transform: uppercase;
                text-align: center;
                @media(max-width:768px) {
                    font-size: 9px;
                }
            }

            a {
                color: rgba(101, 101, 101, 0.87);
                font-size: 14px;
                font-weight: 300;
                text-transform: uppercase;
            }
        }

        .item-score {
            width: 15%;
            text-align: center;
            @media(max-width:768px) {
                width: 50%;
                margin-bottom: 30px;
                order: 4;
            }

            .item-score__title {
                color: rgba(0, 0, 0, 0.87);
                font-size: 10px;
                font-weight: 300;
                margin-bottom: 4px;
                text-transform: uppercase;
                text-align: center;
                @media(max-width:768px) {
                    font-size: 9px;
                }
            }

            span {
                font-size: 50px;
                font-weight: 300;
                color: rgba(101, 101, 101, 0.87);
                letter-spacing: -1.9px;
                display: inline-block;
                margin-top: -10px;
                @media(max-width:768px) {
                    height: 0;
                    font-size: 45px;
                }
            }
        }

        .item-button {
            width: 22%;
            display: flex;
            justify-content: flex-end;
            @media(max-width:768px) {
                width: 100%;
                justify-content: center;
                order: 5;
            }

            a {
                width: 161px;
                height: 55px;
                border-radius: 2px;
                background-color: $bg-button;
                color: #ffffff;
                font-size: 21px;
                text-transform: uppercase;
                display: flex;
                justify-content: center;
                align-items: center;
                padding-top: 2px;
                @media(max-width:768px) {
                    width: 295px
                }
            }
        }
    }
}

.mobileMenu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.35);
    z-index: 999;
    overflow-x: scroll;

    .mobileMenu__item {
        background-color: $white;
        width: 80%;
        height: 100%;
        padding-top: 80px;
        position: absolute;
        top: 0;
        left: 0;

        .mobileMenu__item--logo {
            padding-left: 55px;
            padding-bottom: 62px;
        }

        .mobileMenu__item--nav {
            padding-left: 15px;

            ul {
                li {
                    a {
                        font-size: 18px;
                        color: #1d5add;
                        font-weight: bold;
                        text-transform: uppercase;
                        margin-bottom: 28px;
                        padding: 4px 0px 4px 37px;
                        display: inline-block;
                        border-left: 4px solid transparent;
                    }
                }

                .active {
                    a {
                        border-left: 4px solid #1d5add;
                    }
                }
            }
        }
    }
}

@keyframes animate-open {
    0% {left:-100%;}
    100% {left:0;}
}

@keyframes animate-close {
    0% {left:0;}
    100% {left:-100%;}
}

.open-menu {
    display: block;  
    animation-name: animate-open;
    animation-duration: 0.4s;
}

.close-menu {
    animation-name: animate-close;
    animation-duration: 0.4s;
}