
.hotelsPage {
    .hotelsPage__description {
        .hotelsPage__description--title {
            font-size: 26px;
            color: #50555b;
            margin-bottom: 20px;
        }
        
        .hotelsPage__description--item {
            color: #656565;
            font-size: 15px;
            margin-bottom: 20px;
            @media(max-width:768px) {
                display: none;
            }
        }
    }
}