
.hotelReview {
    .hotelReview__title {
        font-size: 26px;
        color: #50555b;
        text-align: center;
        margin-bottom: 20px;
        @media(max-width:768px) {
            font-size: 18px;
        }
    }

    .hotelReview__description {
        margin-bottom: 50px;

        .hotelReview__description--title {
            font-size: 22px;
            color: #50555b;
            margin-bottom: 20px;
            text-align: center;
            @media(max-width:768px) {
                font-size: 18px;
            }
        }

        .hotelReview__description--item {
            font-size: 15px;
            color: #656565;
        }
    }

    .hotelReview__visitButton {
        text-align: center;
        a {
            border-radius: 2px;
            background-color: #1d5add;
            text-transform: uppercase;
            font-size: 21px;
            color: $white;
            padding: 14px 62px 11px 62px;
            display: inline-block;
            margin-bottom: 50px;
        }
    }
}