
.hotelReviews {
    .g-hotelList {
        .g-hotelList__item {
            align-items: center;
            padding: 38px 20px 38px 30px;
            @media(max-width:992px) {
                padding: 15px 5px 15px 5px;
            }
            
            .item-logo {
                width: 17%;
                @media(max-width:768px) {
                    width: 50%;
                }
            }

            .item-text {
                width: 32%;
                @media(max-width:768px) {
                    width: 100%;
                }

                .item-text__desc {
                    font-size: 14px;
                    text-align: left;
                    @media(max-width:768px) {
                        text-align: center;
                    }
                }
            }

            .item-rating {
                width: 19%;
                @media(max-width:768px) {
                    width: 50%;
                }
            }

            .item-score {
                width: 13%;
                @media(max-width:768px) {
                    width: 100%;
                }

                span {
                    height: 0px;
                }
            }

            .item-button {
                width: 20%;
                @media(max-width:768px) {
                    width: 100%;
                }
            }
        }
    }
}