
.termsConditions {
    .termsConditions__title {
        color: #50555b;
        font-size: 26px;
        text-align: center;
        margin-bottom: 30px;
        @media(max-width:768px) {
            font-size: 18px;
        }
    }

    .termsConditions__item {
        color: #656565;
        font-size: 15px;
        margin-bottom: 15px;
    }
}