// [[ Bootstrap defaults.
$icon-font-path: '../fonts/';
$grid-gutter-width: 0;
$container-large-desktop: 1000px;
// ]] Bootstrap defaults

$white:  #fff;
$black: #000000;
$bg-body: #f7f7f7;
$bg-button: #1d5add;

